requests
Pillow
pyautogui
mss
pyinstaller
nuitka
pyperclip
httpx
websockets
pywin32; platform_system == "Windows"
psutil
# pywinsandbox
uiautomation; platform_system == "Windows"
# pyobjc; platform_system == "Darwin"
# pyatspi; platform_system == "Linux"